
.chet{
background-color: grey;
}
#kartinka{
	width: 80px;
	height: 80px;
}
.nav {
	display: inline-block;
	border: 1px solid black;
	width: 30%;
	text-align: center;
}
@media  (max-width:800px){
	.nav {
		display: block;
	
		width: 150px;
	}

}

